  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('.index') }}" class="brand-link">
      <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">数据决策系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{{ url_for('.index') }}" class="d-block">管理员</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
          {% if curr_active == '职称申请' %}
            <a href="#" class="nav-link active">
          {% else %}
            <a href="#" class="nav-link">
          {% endif %}
              <i class="nav-icon fa fa-dashboard"></i>
              <p>
                职称申请
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">

          {% if curr_active == '工作量申请' %}
            <a href="#" class="nav-link active">
          {% else %}
            <a href="#" class="nav-link">
          {% endif %}
 
              <i class="nav-icon fa fa-th"></i>
              <p>
                工作量申请
                <!--<span class="right badge badge-danger">数据有更新</span>-->
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
          {% if curr_active == '教师科研统计' %}
            <a href="{{ url_for('.jiaoshikeyantongji') }}" class="nav-link active">
          {% else %}
            <a href="{{ url_for('.jiaoshikeyantongji') }}" class="nav-link">
          {% endif %}
 
              <i class="nav-icon fa fa-pie-chart"></i>
              <p>
                教师科研统计
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
          {% if curr_active == '出国申请表' %}
            <a href="#" class="nav-link active">
          {% else %}
            <a href="#" class="nav-link">
          {% endif %}
 
              <i class="nav-icon fa fa-user"></i>
              <p>
                出国申请表
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

