{% extends "base.html" %}

{% block title %}复旦国关数据库决策系统 | 教师科研统计{% endblock %}

{% block styles %}
table {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
}
{% endblock %}

{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2" style="text-align: center">
          <h1>教师科研统计</h1>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div style="display: flex" class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">

              <div style="width:40%; display: inline-block; padding-left: 50px;">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">年</label>
                  </div>
                  <select id="time" class="custom-select" id="inputGroupSelect01">
                    <option selected value="1">2018下半年</option>
                    <option value="2">2018上半年</option>
                    <option value="3">2017下半年</option>
                    <option value="3">2017上半年</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div style="width:40%; display: inline-block; padding-left:50px;">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">系</label>
                  </div>
                  <select id="department" class="custom-select" id="inputGroupSelect01">
                    <option selected>全部</option>
                    <option value="a">国际政治系</option>
                    <option value="a">外交学系</option>
                    <option value="a">政治学系</option>
                    <option value="a">公共行政系</option>
                  </select>
                </div>
                
                <!-- /.form-group -->
              </div>
              <!-- /.col -->

              <div style="display: inline-block; padding-left: 50px;">
                  <button id="submit" class="btn btn-secondary btn-sm">
                      <span style="font-size:medium; padding-left: 10px; padding-right: 10px">
                        查看
                      </span>
                  </button>
              </div>
              </div>
              </div>
              </div>
            </div>
        <div id="keyantongji-content">
        
        </div>
    <!-- keyantongji-content -->
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  {% endblock %}





  {% block bottom_scripts %}
  <script>
  $("button#submit").click(function() {
    $('div#keyantongji-content').load('/keyantongji/detail/'+ $("select#time option:selected").text() + '/'+ $("select#department option:selected").text());
  });
  </script>
  
  {% endblock %}

  {% block footer %}
  <footer class="main-footer">
    <strong>Copyright &copy; <a href="#">复旦大学国际关系学院</a></strong>
  </footer>
  {% endblock %}